@import url('/src/App.css');

main {
    margin: 2em;
    min-height: 1000px;

    color: var(--title-color);
}

.main-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-options {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 20px;
}

.main-user {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.main-user .icon {
    width: clamp(30px, 30px, 30px);
    height: clamp(30px, 30px, 30px);
}

.icon--notification {
    position: relative;
    display: flex;
    justify-content: center;
}
.icon--notification::before {
    content: '';
    position: absolute;
    top: 0;
    right: -3px;
    width: clamp(6px, 6px, 6px);
    height: clamp(6px, 6px, 6px);

    border-radius: 6px;
    background-color: var(--notification-color);
}


@media(min-width:600px) {
    main {
        margin: 56px 256px 0 480px;
    }

    .main-options {
        margin: 0 2.5em 0 0;
    }

    h1 {
        font-size: 28px;
    }

    .main-user .icon {
        width: clamp(40px, 40px, 40px);
        height: clamp(40px, 40px, 40px);
    }
}