@import url('/src/App.css');

.TableInfo-entries {
    margin: 0 25px;
    padding: 1em 0;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1em;

    font-weight: var(--font-regular);
    font-size: 12px;
}


@media(min-width: 600px) {
    .TableInfo-entries {
        margin: 0 50px;
        
        font-size: 14px;
    }
}