:root {
  /* cores */
  --accent-color: #03363D;
  --neutral-light-color: #FFF;
  --background-color: #F3F4F8;
  --background2-color: rgba(3, 54, 61, 0.06);
  --nav-box-color: #E453530F;
  --title-color: #272727;
  --desconectar-color: #CC4141;
  --notification-color: #FF0000;
  --DropDown-title-color: rgba(0, 0, 0, 0.45);
  --DropDown-text-color: rgba(0, 0, 0, 0.85);
  --DropDown-pessoas-color: #cc41413a;
  --DropDown-planetas-color: #8889b983;
  --DropDown-especies-color: #f1bb1963;
  --DropDown-naves-color: #0cc4b54d;
  --DropDown-info-title-color: rgba(0, 0, 0, 0.65);
  --Dropdown-info-title-background-color: #FAFAFA;
  --hr-color: #E9E9E9;

  /* font */
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: var(--font-medium);
  background-color: var(--background-color);
}

.icon {
  width: clamp(20px, 20px, 20px);
  height: clamp(20px, 20px, 20px);
}


@media(min-width: 600px) {
  .icon {
    width: clamp(24px, 24px, 24px);
    height: clamp(24px, 24px, 24px);
  }
}
